<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.ChilkatDotNet46" version="9.0.1" targetFramework="net462" />
  <package id="SC.Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.EDS.Core" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.EDS.Providers.SparkPost" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ExM.Framework" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
</packages>